{% extends "base.html" %}

<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/anniespratt.jpg')}}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Dev's Blog</h1>
                    <span class="subheading">A collection of mind enriching blog articles</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Main Content-->
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                {% for post in posts %}
                <a href="{{ url_for('post', id=post['id']) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.owner }}</a>
                    {{ post.date }}
                </p>
                {% endfor %}
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                    Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}

{% block image_detail %}
<div class="small text-center text-muted fst-italic fs-6">
    Photo by <a
        href="https://unsplash.com/@anniespratt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Annie
        Spratt</a> on <a
        href="https://unsplash.com/photos/plant-near-organizer-and-tablet-keyboard-ase-bGdiuIyN3Rs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

</div>
{% endblock %}