{% extends "base.html" %}

{% block title %}Blog Post{% endblock %}

<!-- Page Header -->
{% block header %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/'+post.image) }}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="site-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">Post by
                        <a href="#">{{ post.owner }}</a>
                        on {{ post.date }}</span>
                </div>

            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- Post Content -->
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <blockquote class="blockquote">
                <p>"{{ post.quote }}"</p>
            </blockquote>
            <p>{{ post.body }}
        </div>
    </div>
</div>
{% endblock %}