<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 style="color:green;">{{ message }}</h2>
    <div>
        <iframe src="https://giphy.com/embed/cxcWrQB31cXlxDGG8V" width="480" height="480" frameBorder="0"
            class="giphy-embed" allowFullScreen>
        </iframe>
        <p>
            <a href="https://giphy.com/gifs/pudgypenguins-fishing-reel-it-in-cxcWrQB31cXlxDGG8V">via GIPHY</a>
        </p>
    </div>
</body>

</html>