<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 style="color: red;">{{ message }}</h2>
    <div>
        <iframe src="https://giphy.com/embed/enyTHfhDag5ExAFk0Z" width="480" height="480" frameBorder="0"
            class="giphy-embed" allowFullScreen>
        </iframe>
        <p>
            <a href="https://giphy.com/gifs/pudgypenguins-big-huge-thats-enyTHfhDag5ExAFk0Z">via GIPHY</a>
        </p>
    </div>
</body>

</html>