<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess high or low</title>
</head>

<body>
    <h2 style="color: darksalmon;">{{ message }}</h2>
    <div>
        <iframe src="https://giphy.com/embed/SsoQlxzXzTEi8vUXb4" width="480" height="480" frameBorder="0"
            class="giphy-embed" allowFullScreen>
        </iframe>
        <p>
            <a href="https://giphy.com/gifs/pudgypenguins-fish-slap-fishing-SsoQlxzXzTEi8vUXb4">via GIPHY</a>
        </p>
    </div>

</body>

</html>